/* HTML: <div class="loader"></div> */
@import "../../variables";

.variant1 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: $accent-200 $accent-100;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

/* HTML: <div class="loader"></div> */
.variant2 {
    width: 1.5rem;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 0 70%, rgba(255, 255, 255, 1) 0) 50%/8% 100%,
      linear-gradient(90deg, rgba(255, 255, 255, 0.25) 30%, rgba(255, 255, 255, 0) 0 70%, rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  
  .variant2::before,
  .variant2::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }
  
  .variant2::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }
  
  @keyframes l23 {
    100% { transform: rotate(1turn); }
  }
  