$primary-100: #0B6623;
$primary-200: #45954e;
$primary-300: #a8f9aa;
$accent-100: #004D00;
$accent-200: #9adb87;
$text-100: #FFFFFF;
$text-200: #e0e0e0;
$bg-100: #000000;
$bg-200: #161616;
$bg-300: #2c2c2c;
